<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2436X1125</key>
	<dict>
		<key>edit</key>
		<string>{2139,726},{144,144}</string>
		<key>camera</key>
		<string>{186,600},{144,144}</string>
		<key>largeBack</key>
		<string>{186,375},{144,144}</string>
		<key>back</key>
		<string>{158,513},{100,100}</string>
		<key>save</key>
		<string>{2139,270},{144,144}</string>
		<key>delete</key>
		<string>{2139,498},{144,144}</string>
		<key>content</key>
		<string>{416,103},{1661,911}</string>
	</dict>
	<key>2208X1242</key>
	<dict>
		<key>largeBack</key>
		<string>{87,447},{144,144}</string>
		<key>camera</key>
		<string>{87,669},{144,144}</string>
		<key>edit</key>
		<string>{1965,783},{144,144}</string>
		<key>back</key>
		<string>{84,574},{100,100}</string>
		<key>save</key>
		<string>{1965,327},{144,144}</string>
		<key>delete</key>
		<string>{1965,555},{144,144}</string>
		<key>content</key>
		<string>{274,166},{1661,911}</string>
	</dict>
	<key>1334X750</key>
	<dict>
		<key>edit</key>
		<string>{1188,470},{94,94}</string>
		<key>camera</key>
		<string>{52,404},{94,94}</string>
		<key>largeBack</key>
		<string>{52,270},{94,94}</string>
		<key>back</key>
		<string>{54,345},{65,65}</string>
		<key>save</key>
		<string>{1188,196},{94,94}</string>
		<key>delete</key>
		<string>{1188,334},{94,94}</string>
		<key>content</key>
		<string>{150,83.5},{1034,583}</string>
	</dict>
	<key>1136X640</key>
	<dict>
		<key>largeBack</key>
		<string>{42,228},{80,80}</string>
		<key>camera</key>
		<string>{42,346},{80,80}</string>
		<key>edit</key>
		<string>{1010,402},{80,80}</string>
		<key>back</key>
		<string>{44,293},{53,53}</string>
		<key>save</key>
		<string>{1010,164},{80,80}</string>
		<key>delete</key>
		<string>{1010,288},{80,80}</string>
		<key>content</key>
		<string>{129,73},{878,494}</string>
	</dict>
	<key>960X640</key>
	<dict>
		<key>edit</key>
		<string>{872,386},{60,60}</string>
		<key>camera</key>
		<string>{40,338},{60,60}</string>
		<key>largeBack</key>
		<string>{40,246},{60,60}</string>
		<key>back</key>
		<string>{50,232},{60,60}</string>
		<key>save</key>
		<string>{872,202},{60,60}</string>
		<key>delete</key>
		<string>{872,294},{60,60}</string>
		<key>content</key>
		<string>{127,130},{700,200}</string>
	</dict>
</dict>
</plist>
