<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Back</key>
	<dict>
		<key>960X640</key>
		<dict>
			<key>Alert</key>
			<string>{40,45.5},{880,549}</string>
			<key>Album</key>
			<string>{769,448},{119,119}</string>
			<key>Setting</key>
			<string>{648,475},{65,65}</string>
			<key>Flashlight</key>
			<string>{651,121},{65,65}</string>
			<key>Date</key>
			<string>{655,226},{52,205}</string>
			<key>Press</key>
			<string>{735,235},{184,184}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{641,640}</string>
			<key>Change</key>
			<string>{754,117},{142,72}</string>
		</dict>
		<key>1136X640</key>
		<dict>
			<key>Alert</key>
			<string>{63,54.5},{1010,531}</string>
			<key>Album</key>
			<string>{916,424},{119,119}</string>
			<key>Setting</key>
			<string>{798,452},{65,65}</string>
			<key>Flashlight</key>
			<string>{798,112},{65,65}</string>
			<key>Date</key>
			<string>{804,220},{52,205}</string>
			<key>Press</key>
			<string>{884,228},{184,184}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{771,640}</string>
			<key>Change</key>
			<string>{905,110},{142,72}</string>
		</dict>
		<key>1334X750</key>
		<dict>
			<key>Alert</key>
			<string>{74,64.5},{1186,621}</string>
			<key>Album</key>
			<string>{1077,497},{139,139}</string>
			<key>Setting</key>
			<string>{938,530},{76,76}</string>
			<key>Flashlight</key>
			<string>{937,130},{76,76}</string>
			<key>Date</key>
			<string>{945,258},{60,239}</string>
			<key>Press</key>
			<string>{1038,268},{215,215}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{904,750}</string>
			<key>Change</key>
			<string>{1060,128},{165,83}</string>
		</dict>
		<key>2208X1242</key>
		<dict>
			<key>Alert</key>
			<string>{123.5,106.5},{1961,1029}</string>
			<key>Album</key>
			<string>{1786,827},{227,227}</string>
			<key>Setting</key>
			<string>{1557,883},{122,122}</string>
			<key>Flashlight</key>
			<string>{1555,212},{122,122}</string>
			<key>Date</key>
			<string>{1567,428},{97,393}</string>
			<key>Press</key>
			<string>{1721,443},{355,355}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{1499,1242}</string>
			<key>Change</key>
			<string>{1757,212},{272,136}</string>
		</dict>
		<key>2436X1125</key>
		<dict>
			<key>Alert</key>
			<string>{237.5,48},{1961,1029}</string>
			<key>Album</key>
			<string>{2019,807},{227,227}</string>
			<key>Setting</key>
			<string>{1772,858},{122,122}</string>
			<key>Flashlight</key>
			<string>{1776,127},{122,122}</string>
			<key>Date</key>
			<string>{1788,369},{97,393}</string>
			<key>Press</key>
			<string>{1958,388},{355,355}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{1685,1125}</string>
			<key>Change</key>
			<string>{1999,120},{272,136}</string>
		</dict>
	</dict>
	<key>Front</key>
	<dict>
		<key>960X640</key>
		<dict>
			<key>Alert</key>
			<string>{40,45.5},{880,549}</string>
			<key>Album</key>
			<string>{769,448},{119,119}</string>
			<key>Setting</key>
			<string>{648,475},{65,65}</string>
			<key>Flashlight</key>
			<string>{651,121},{65,65}</string>
			<key>Date</key>
			<string>{655,226},{52,205}</string>
			<key>Press</key>
			<string>{735,235},{184,184}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{641,640}</string>
			<key>Change</key>
			<string>{754,117},{142,72}</string>
		</dict>
		<key>1136X640</key>
		<dict>
			<key>Alert</key>
			<string>{63,54.5},{1010,531}</string>
			<key>Album</key>
			<string>{916,424},{119,119}</string>
			<key>Setting</key>
			<string>{798,452},{65,65}</string>
			<key>Flashlight</key>
			<string>{798,112},{65,65}</string>
			<key>Date</key>
			<string>{804,220},{52,205}</string>
			<key>Press</key>
			<string>{884,228},{184,184}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{771,640}</string>
			<key>Change</key>
			<string>{905,110},{142,72}</string>
		</dict>
		<key>1334X750</key>
		<dict>
			<key>Alert</key>
			<string>{74,64.5},{1186,621}</string>
			<key>Album</key>
			<string>{1077,497},{139,139}</string>
			<key>Setting</key>
			<string>{938,530},{76,76}</string>
			<key>Flashlight</key>
			<string>{937,130},{76,76}</string>
			<key>Date</key>
			<string>{945,258},{60,239}</string>
			<key>Press</key>
			<string>{1038,268},{215,215}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{904,750}</string>
			<key>Change</key>
			<string>{1060,128},{165,83}</string>
		</dict>
		<key>2208X1242</key>
		<dict>
			<key>Alert</key>
			<string>{123.5,106.5},{1961,1029}</string>
			<key>Album</key>
			<string>{1786,827},{227,227}</string>
			<key>Setting</key>
			<string>{1557,883},{122,122}</string>
			<key>Flashlight</key>
			<string>{1555,212},{122,122}</string>
			<key>Date</key>
			<string>{1567,428},{97,393}</string>
			<key>Press</key>
			<string>{1721,443},{355,355}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{1499,1242}</string>
			<key>Change</key>
			<string>{1757,212},{272,136}</string>
		</dict>
		<key>2436X1125</key>
		<dict>
			<key>Alert</key>
			<string>{237.5,48},{1961,1029}</string>
			<key>Album</key>
			<string>{2019,807},{227,227}</string>
			<key>Setting</key>
			<string>{1772,858},{122,122}</string>
			<key>Flashlight</key>
			<string>{1776,127},{122,122}</string>
			<key>Date</key>
			<string>{1788,369},{97,393}</string>
			<key>Press</key>
			<string>{1958,388},{355,355}</string>
			<key>Shot</key>
			<string>{0.0,0.0},{1685,1125}</string>
			<key>Change</key>
			<string>{1999,120},{272,136}</string>
		</dict>
	</dict>
</dict>
</plist>
